<div class="subscribers">
  <div class="container">
    <div class="head">
      <div><h4 class="title">Subscribers</h4></div>
      <div>
        <button class="add-new-data" (click)="add()">Add</button>
        <button class="add-new-data" (click)="countries()">Countries</button>
      </div>
    </div>
    <hr />
    <div>
      <div class="contact-data">
        <div class="row" *ngFor="let subscriber of subscribers">
          <div class="col">
            <p class="label-info">Id</p>
            <p class="data-info">{{ subscriber.Id }}</p>
          </div>
          <div class="col">
            <p class="label-info">Name</p>
            <p class="data-info">{{ subscriber.Name }}</p>
          </div>
          <div class="col">
            <div class="label-info">Email</div>
            <p class="data-info">{{ subscriber.Email }}</p>
          </div>
          <div class="col">
            <div class="label-info">CountryCode</div>
            <p class="data-info">{{ subscriber.CountryCode }}</p>
          </div>
          <div class="col">
            <div class="label-info">Phone</div>
            <p class="data-info">{{ subscriber.PhoneNumber }}</p>
          </div>
          <div class="col-1 d-flex align-items-center justify-content-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="deleteConfirmation(subscriber.Id)"></button>
          </div>
          <div class="btn-add-data">
            <button
              class="add-new-data"
              role="button"
              (click)="edit(subscriber.Id)"
            >
              Edit
            </button>
            <button
              class="add-new-data"
              role="button"
              (click)="see(subscriber.Id)"
            >
              Information
            </button>
          </div>

          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
