<div class="edit">
  <div class="container">
    <div class="row">
      <h4 class="title">Edit subscriber</h4>
    </div>
    <hr />
    <div class="edit-data">
      <div class="row">
        <div class="col-md-12">
          <p class="info-name">Name</p>
          <input type="text" class="form-control" id="nombre" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="info">Email</p>
          <input type="text" class="form-control" id="email" />
        </div>
        <div class="col-md-4">
          <p class="info">Code country</p>
          <input type="text" class="form-control" id="code-country" />
        </div>
        <div class="col-md-4">
          <p class="info">Phone</p>
          <input type="text" class="form-control" id="phone" />
        </div>
        <div class="btn-add-data">
          <button class="add-new-data" role="button">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
