<div class="edit">
  <div class="container">
    <div class="row">
      <h4 class="title">Edit subscriber</h4>
    </div>
    <hr />
    <div class="edit-data">
      <form [formGroup]="editForm" (ngSubmit)="sendForm(editForm.value.Id, editForm.value)">
        <div class="row">
          <div class="col-md-3">
            <label class="info-name">Id</label>
            <input
              type="text"
              class="form-control inputs"
              id="Id"
              formControlName="Id"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="info-name">Name</label>
            <input
              type="text"
              class="form-control inputs"
              id="Name"
              formControlName="Name"
              placeholder="Write your name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="info">Email</label>
            <input
              type="email"
              class="form-control inputs"
              id="Email"
              formControlName="Email"
              placeholder="Write your email"
            />
          </div>
          <div class="col-md-4">
            <label class="info">CountryCode</label>
            <input
              type="text"
              class="form-control inputs"
              id="CountryCode"
              formControlName="CountryCode"
              placeholder="Write your code-country"
            />
          </div>
          <div class="col-md-4">
            <label class="info">Phone</label>
            <input
              type="text"
              class="form-control inputs"
              id="PhoneNumber"
              formControlName="PhoneNumber"
              placeholder="Write your phone number"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="info">Area</label>
            <input
              type="text"
              class="form-control inputs"
              id="Area"
              formControlName="Area"
              placeholder="Write your Area"
            />
          </div>
          <div class="col-md-4">
            <label class="info">JobTitle</label>
            <input
              type="text"
              class="form-control inputs"
              id="JobTitle"
              formControlName="JobTitle"
              placeholder="Write your JobTitle"
            />
          </div>
          <div class="col-md-4">
            <label class="info">Topics</label>
            <input
              type="text"
              class="form-control inputs"
              id="Topics"
              formControlName="Topics"
              placeholder="Write your Topics"
            />
          </div>
        </div>
        <div class="btn-add-data">
          <button type="submit" class="add-new-data" role="button">Save</button>
        </div>
        <div class="btn-add-data">
          <button
            class="add-new-data"
            role="button"
            (click)="comeBack()"
          >
            Come Back
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
