<div class="edit">
  <div class="container">
    <div class="head">
      <div><h4 class="title">Info subscriber</h4></div>
      <div class="btn-add-data">
        <button class="add-new-data" (click)="comeBack()">Come Back</button>
      </div>
    </div>
    <hr />
    <div class="contact-data">
      <div class="row">
        <div class="col">
          <p class="label-info">Param</p>
          <p class="data-info">Id</p>
          <p class="data-info">Name</p>
          <p class="data-info">Activity</p>
          <p class="data-info">Area</p>
          <p class="data-info">ConnectionState</p>
          <p class="data-info">CountryCode</p>
          <p class="data-info">CountryName</p>
          <p class="data-info">Email</p>
          <p class="data-info">EndpointsCount</p>
          <p class="data-info">JobTitle</p>
          <p class="data-info">LastActivity</p>
          <p class="data-info">LastActivityString</p>
          <p class="data-info">LastActivityUtc</p>
          <p class="data-info">PhoneCode</p>
          <p class="data-info">PhoneCodeAndNumber</p>
          <p class="data-info">PhoneNumber</p>
          <p class="data-info">PublicId</p>
          <p class="data-info">SubscriptionDate</p>
          <p class="data-info">SubscriptionMethod</p>
          <p class="data-info">SubscriptionState</p>
          <p class="data-info">SubscriptionStateDescription</p>
          <p class="data-info">SystemId</p>
          <p class="data-info">Topics</p>
          <p class="data-info">ValidEmail</p>
        </div>
        <div class="col">
          <p class="label-info">Data</p>
          <p class="data-info">{{ info.Id }}.</p>
          <p class="data-info">{{ info.Name }}.</p>
          <p class="data-info">{{ info.Activity }}.</p>
          <p class="data-info">{{ info.Area }}.</p>
          <p class="data-info">{{ info.ConnectionState }}.</p>
          <p class="data-info">{{ info.CountryCode }}.</p>
          <p class="data-info">{{ info.CountryName }}.</p>
          <p class="data-info">{{ info.Email }}.</p>
          <p class="data-info">{{ info.EndpointsCount }}.</p>
          <p class="data-info">{{ info.JobTitle }}.</p>
          <p class="data-info">{{ info.LastActivity }}.</p>
          <p class="data-info">{{ info.LastActivityString }}.</p>
          <p class="data-info">{{ info.LastActivityUtc }}.</p>
          <p class="data-info">{{ info.PhoneCode }}.</p>
          <p class="data-info">{{ info.PhoneCodeAndNumber }}.</p>
          <p class="data-info">{{ info.PhoneNumber }}.</p>
          <p class="data-info">{{ info.PublicId }}.</p>
          <p class="data-info">{{ info.SubscriptionDate }}.</p>
          <p class="data-info">{{ info.SubscriptionMethod }}.</p>
          <p class="data-info">{{ info.SubscriptionState }}.</p>
          <p class="data-info">{{ info.SubscriptionStateDescription }}.</p>
          <p class="data-info">{{ info.SystemId }}.</p>
          <p class="data-info">{{ info.Topics }}.</p>
          <p class="data-info">{{ info.ValidEmail }}.</p>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
