<div class="loginUser">
  <div class="container container-login">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="formLogin">
          <form class="form-log">
            <h2 class="login">LOGIN</h2>
            <div class="sectionName">
              <span class="tittle">Username</span>
              <input
                type="text"
                id="username"
                placeholder="Write your username"
              />
            </div>
            <div class="sectionPassword">
              <span class="tittle">Password</span>
              <input
                type="password"
                id="password"
                placeholder="Write your password"
              />
            </div>
          </form>
          <div class="section-buttons mt-5">
            <div class="button-log">
              <div class="login-class"></div>
              <button class="btn-login" onClick="{login}">Log in</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</div>
