<div class="loginUser">
  <div class="container container-login">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="formLogin">
          <form
            [formGroup]="myForm"
            class="form-log"
            (ngSubmit)="onLogin(myForm.value)"
          >
            <h2 class="login">LOGIN</h2>
            <div class="sectionName">
              Username :
              <input
                type="text"
                class="form-control"
                id="UserName"
                formControlName="UserName"
                placeholder="Write your username"
              />
            </div>
            <div class="sectionPassword">
              Password :
              <input
                type="password"
                class="form-control"
                id="Password"
                formControlName="Password"
                placeholder="Write your password"
              />
            </div>
            <div class="section-buttons mt-5">
              <div class="button-log">
                <div class="login-class"></div>
                <input type="submit" class="btn-login" value="Login" />
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="alert alert-danger" *ngIf="errorStatus">
          <p>{{ errorMsg }}</p>
        </div> -->
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
