<div class="add">
  <div class="container contact_form">
    <div class="row">
      <div class="col-md-3 btn-add-data">
        <button class="add-new-data" (click)="comeBack()">Back</button>
      </div>
      <div class="col-md-6">
        <div class="form">
          <h1>Add subscriber</h1>
          <h3>Enter the necessary data</h3>
          <form [formGroup]="addForm" (ngSubmit)="enterForm(addForm.value)">
            <div class="sectionName">
              <span for="addName" class="tittle">Name</span>
              <span> *</span>
              <input
                [class.is-invalid]="
                  addForm.get('Name')?.touched && addForm.get('Name')?.invalid
                "
                type="text"
                class="form-control inputs"
                id="addName"
                formControlName="Name"
                required
                placeholder="Write your name"
              />
            </div>

            <div class="sectionName">
              <span for="addEmail" class="tittle">Email</span>
              <span> *</span>
              <input
                [class.is-invalid]="
                  addForm.get('Email')?.touched && addForm.get('Email')?.invalid
                "
                type="email"
                class="form-control inputs"
                id="addEmail"
                formControlName="Email"
                required
                placeholder="Write your email"
              />
            </div>

            <div class="sectionName">
              <label for="addCodeCountry" class="tittle">Code country </label>
              <input
                type="text"
                class="form-control inputs"
                id="addCodeCountry"
                formControlName="CountryCode"
                required
                placeholder="Write your code country"
              />
            </div>

            <div class="sectionName">
              <label for="CountryName" class="tittle">Country name </label>
              <input
                type="text"
                class="form-control inputs"
                id="CountryName"
                formControlName="CountryName"
                placeholder="Write your Country name"
              />
            </div>

            <div class="sectionName">
              <label for="addPhoneCode" class="tittle">PhoneCode</label>
              <input
                type="text"
                class="form-control inputs"
                id="addPhoneCode"
                formControlName="PhoneCode"
                placeholder="Write your phone"
              />
            </div>

            <div class="sectionName">
              <label for="addphone" class="tittle">Phone</label>
              <input
                type="text"
                class="form-control inputs"
                id="addPhone"
                formControlName="PhoneNumber"
                required
                placeholder="Write your phone"
              />
            </div>

            <div class="sectionName">
              <label for="addArea" class="info">Area</label>
              <input
                type="text"
                class="form-control inputs"
                id="addArea"
                formControlName="Area"
                placeholder="Write your Area"
              />
            </div>

            <div class="sectionName">
              <label for="addJobTittle" class="info">JobTitle</label>
              <input
                type="text"
                class="form-control inputs"
                id="addJobTitle"
                formControlName="JobTitle"
                placeholder="Write your JobTitle"
              />
            </div>

            <div class="sectionName">
              <label for="addTopics" class="info">Topics</label>
              <input
                type="text"
                class="form-control inputs"
                id="addTopics"
                formControlName="Topics"
                placeholder="Write your Topics"
              />
            </div>

            <input class="save" type="submit" value="Save"/>

            <p class="alert">
              <span class="required"> * </span>fields are required.
            </p>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

